.typeahead {
    position: relative;
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

    .typeahead.valid.modified {
        outline: none !important;
        border: 1px solid #26b050;
    }

    .typeahead.invalid {
        outline: none !important;
        border: 1px solid red;
    }

    .typeahead:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
    }

.typeahead-controls {
    position: relative;
    cursor: text;
    display: flex;
}

    .typeahead-controls > .form-floating {
        flex-grow: 1 !important;
    }

.typeahead-input.form-control {
    border: none;
    box-shadow: none;
}

.typeahead-input:focus {
    outline: none;
}

.typeahead-input-multi:focus {
    outline: none;
    box-shadow: none;
}

.typeahead-input-hidden {
    display: none;
}

.invalid {
    border-color: red !important;
}

.typeahead-input-mask-wrapper {
    display: flex;
    width: 100%;
    height: calc(3.5rem + 2px);
    flex-grow: 1;
}

.typeahead-input-mask-wrapper-disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
    border-radius: 5px 0 0 5px;
    color: grey;
    min-height: 40px;
}

    .typeahead-input-mask-wrapper-disabled:focus {
        border: none;
    }

.typeahead-input-mask {
    display: flex;
    justify-content: center;
    flex: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem .75rem;
    flex-direction: column;
}

    .typeahead-input-mask:focus {
        outline: none;
    }

.typeahead-input-mask-label {
    color: #333333;
    font-size: 14px;
}

.typeahead-input-multiselect-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    min-height: calc(3.5rem + 2px);
}

.typeahead-clear {
    display: flex;
    padding: .5rem;
    place-items: center;
    cursor: pointer;
    color: #dbdbdb;
}

    .typeahead-clear:hover {
        color: #333333;
    }

.typeahead-down-arrow path {
    fill: #dbdbdb;
}

.typeahead-input-icon {
    display: flex;
    padding: .5rem;
    cursor: pointer;
    background: none;
    place-items: center;
}

    .typeahead-input-icon:focus {
        outline: none;
    }

    .typeahead-input-icon:hover {
        background-color: #f5f5f5;
    }

        .typeahead-input-icon:hover .typeahead-down-arrow path {
            fill: #333333;
        }

.typeahead-input-icon-disabled,
.typeahead-input-icon-disabled:hover {
    background-color: #e9ecef;
    cursor: not-allowed;
}

    .typeahead-input-icon-disabled .typeahead-down-arrow path,
    .typeahead-input-icon-disabled:hover .typeahead-down-arrow path {
        fill: #9c9c9c;
    }

.typeahead-multi-value {
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    min-width: 0px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: .4rem 0 .4rem .4rem;
}

.typeahead-multi-value-label {
    color: rgb(51, 51, 51);
    font-size: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    padding: 3px 3px 3px 6px;
}

.typeahead-multi-value-clear {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    border: 0;
    outline: none;
}

    .typeahead-multi-value-clear:focus {
        outline: none;
    }

    .typeahead-multi-value-clear:hover {
        background-color: rgb(212, 212, 212);
        color: rgb(222, 53, 11);
    }

.typeahead-results.dropdown-menu {
    display: block !important;
    margin-top: .25rem;
    min-height: 2rem;
    max-height: 30rem;
    overflow-y: auto;
}

.typeahead-results {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.typeahead-result,
.typeahead-notfound,
.typeahead-results-help-template,
.typeahead-results-header,
.typeahead-results-footer {
    padding: .5rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.typeahead-selected-item {
    background-color: #dbdbdb;
}

.typeahead-selected-item-highlighted {
    background-color: #d3e2f2;
}

.typeahead-active-item,
.typeahead-result:hover,
.typeahead-result:focus {
    background-color: #007bff;
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #007bff;
    color: #fff;
    cursor: pointer;
}
