.typeahead {
    position: relative;
    width: 100%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

    .typeahead.valid.modified {
        outline: none !important;
        border: 1px solid var(--bs-success);
    }

    .typeahead.invalid,
    .invalid {
        outline: none !important;
        border-color: var(--bs-danger) !important;
    }

/*.typeahead:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
    }*/

.typeahead-controls {
    position: relative;
    cursor: text;
    display: flex;
}

    .typeahead-controls > .form-floating {
        flex-grow: 1 !important;
    }

/*.typeahead-input.form-control {
    border: none;
    box-shadow: none;
}

.typeahead-input:focus {
    outline: none;
}*/
.typeahead-input-multi {
    border: none;
}

    .typeahead-input-multi:focus {
        outline: none;
        box-shadow: none;
    }

.typeahead-input-hidden {
    display: none;
}

.typeahead-input-mask-wrapper {
    display: flex;
    width: 100%;
    height: calc(3.5rem + 2px);
    flex-grow: 1;
}

.typeahead-input-mask-wrapper-disabled {
    background-color: var(--bs-secondary-bg);
    cursor: not-allowed;
    color: grey;
    min-height: 40px;
}

    .typeahead-input-mask-wrapper-disabled:focus {
        border: none;
    }

.typeahead-input-mask {
    display: flex;
    justify-content: center;
    flex: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem .75rem;
    flex-direction: column;
}

    .typeahead-input-mask:focus {
        outline: none;
    }

.typeahead-input-mask-label {
    color: #333333;
    font-size: 14px;
}

.typeahead-input-multiselect-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    min-height: calc(3.5rem + 2px);
}

.typeahead-clear {
    display: flex;
    padding: .5rem;
    place-items: center;
    cursor: pointer;
    color: #dbdbdb;
}

    .typeahead-clear:hover {
        color: #333333;
    }

.typeahead-down-arrow path {
    fill: #dbdbdb;
}

.typeahead-input-icon {
    display: flex;
    padding: .5rem;
    cursor: pointer;
    background: none;
    place-items: center;
}

    .typeahead-input-icon:focus {
        outline: none;
    }

    .typeahead-input-icon:hover {
        background-color: #f5f5f5;
    }

        .typeahead-input-icon:hover .typeahead-down-arrow path {
            fill: #333333;
        }

.typeahead-input-icon-disabled,
.typeahead-input-icon-disabled:hover {
    background-color: #e9ecef;
    cursor: not-allowed;
}

    .typeahead-input-icon-disabled .typeahead-down-arrow path,
    .typeahead-input-icon-disabled:hover .typeahead-down-arrow path {
        fill: #9c9c9c;
    }

.typeahead-multi-value {
    align-items: center;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-secondary);
    border-radius: 2rem;
    box-sizing: border-box;
    color: var(--text);
    display: flex;
    margin: .5rem .25rem;
    padding: .5rem .5rem;
    width: fit-content;
    gap: 1rem;
}

.typeahead-multi-value-label {
    font-size: 1rem;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.typeahead-multi-value-clear {
    align-items: center;
    display: flex;
    padding: .25rem;
    border-radius: 1rem;
    border: none;
}

    .typeahead-multi-value-clear:focus {
        outline: none;
    }

    .typeahead-multi-value-clear:hover {
        color: var(--bs-dropdown-link-hover-color);
        background-color: var(--bs-dropdown-link-hover-bg);
    }

.typeahead-results.dropdown-menu {
    display: block !important;
}

.typeahead-results {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.typeahead-result,
.typeahead-notfound,
.typeahead-results-help-template,
.typeahead-results-header,
.typeahead-results-footer {
    padding: .5rem;
}

.typeahead-selected-item {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}

.typeahead-selected-item-highlighted {
    background-color: #d3e2f2;
}

.typeahead-active-item,
.typeahead-result:hover,
.typeahead-result:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
    cursor: pointer;
}
